# FRONTEND dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# FRONTEND testing
frontend/coverage

# FRONTEND production build
frontend/build

# FRONTEND misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

#node modules
frontend/node_modules

# IDE
.idea/
.vscode/

# Backend (Spring Boot / Java)
backend/target/
backend/.classpath
backend/.project
backend/.settings/

# OS
.DS_Store
Thumbs.db

# Env files (general)
.env

